/* common shared styles */

body {
    font-family: 'Open Sans', sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

.description-text {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;

}

.btn {
    padding: 20px 40px;
    border-radius: 10px;
    background: #E55473;
    margin-top: 32px;
    border: none;
    color: white;
}


.section-title {

    font-size: 40px;
    font-weight: 800;
    padding: 20px;
}

.red-part {
    color: #E55473;
}

.color-white {
    color: white;
}

.section-text-container {
    text-align: center;
    padding: 30px;
}


/* Header Style */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(229, 84, 115, 0.10);


}


.header-title {
    color: #272727;
    font-size: 80px;
    font-style: bold;
    font-weight: bolder;
    margin-bottom: 52px;
    width: 700px;
    height: 280px;
    padding-bottom: 16px;

}

/* featured flower Style */

.featured-flower-section-container {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 15px 0px;
    text-align: center;

}



.featured-flower-pucture-container {
    display: flex;
    column-gap: 24px;
    justify-content: center;

}

#f1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;


}

#f2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;

}

#f3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;

}



.featured-flower-picture {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
}

#featured-image-left {
    background: rgba(167, 33, 98, 0.15);
}

#featured-image-middle {
    background: rgba(5, 151, 160, 0.15);
}

#featured-image-right {
    background: rgba(71, 125, 17, 0.15);
}


.link-container {
    display: flex;
    justify-content: center;

}

.featured-link {
    width: 464px;
    margin-top: 10px;
    color: #272727;
    font-size: 24px;
}



/* Hot deal sction style */

.hot-deal-container {
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    height: 620px;

}




.hot-deal-content {
    text-align: center;

}



/* Instagram Style */

.instagram-section-container {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 15px 0px;
    text-align: center;

}


.instagram-pucture-container {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.instagram-pucture {
    width: 342px;
    height: 396px;

}

/* Latest Deal Style */

.latest-deal-containter {

    text-align: center;
    background-image: url('/images/background.png');
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
    padding-top: 80px;
    margin: auto;


}


.subscribe-container input {
    width: 700px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-right: 5px;
}

/* Footer Style */

.footer-container {
    background-color: #111010;
    text-align: center;
    padding: 100px 0px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    margin-top: 20px;
}